antiorm==1.2.1
aiohttp==3.7.4.post0
altgraph==0.17
asgiref==3.3.1
astroid==2.3.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
boticordpy==1.3.1.6
certifi==2020.12.5
cfscrape==2.1.1
chardet==3.0.2
config==0.5.0.post0
db==0.1.1
dblpy==0.4.0
dj-database-url==0.5.0
dnspython==2.0.0
emoji==0.6.0
future==0.18.2
fuzzywuzzy==0.18.0
geojson==2.5.0
idna==2.10
install==1.3.4
isort==4.3.21
json-api==0.1.22
lazy-object-proxy==1.4.3
mccabe==0.6.1
memory-profiler==0.58.0
mongo==0.2.0
multidict==4.7.6
netifaces==0.10.9
nextcord==2.0.0a5
numpy==1.20.3
opencv-python==4.5.2.54
pefile==2019.4.18
Pillow==8.3.2
pip==21.2.4
progress==1.5
PyInstaller==3.6
pylint==2.4.4
pymongo==3.11.2
pyocr==0.8
pyowm==2.10.0
PySocks==1.7.1
python-dotenv==0.18.0
python-Levenshtein==0.12.2
pytz==2020.4
pywin32-ctypes==0.2.0
ratelimiter==1.2.0.post0
requests==2.23.0
setuptools==51.0.0
six==1.15.0
soupsieve==2.1
style==1.1.0
tabulate==0.8.7
toml==0.10.2
typing==3.7.4.3
typing-extensions==3.7.4.3
update==0.0.1
urllib3==1.25.11
websockets==9.1
wheel==0.36.2
whitenoise==5.2.0
wrapt==1.11.1
yarl==1.6.3
